:root {
    --main-bg-color: #595750;
    --text-color: #f2f2f9;
    --input-bg-color: green;
    --button-bg-color: var(--color-golden);
    --button-hover-color: green;
    --link-color: var(--color-golden);
    --link-hover-color: green;
    --status-message-color: red;
    --header-bg-color: transparent;
    --header-text-color: #ffffff;
    --icon-bg-color: var(--second);
  }
  body{
    background-color: aqua;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--main-bg-color);
  }
  
  .registerForm,
  .loginForm {
    width: 400px;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
  }
  
  h4 {
    margin-top: 0;
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 15px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #efeff1;
    text-align: center;
  }
  
  .textInput {
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: var(--input-bg-color);
  }
  
  .registerForm p,
  .loginForm p {
    color: white;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--button-bg-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: var(--button-hover-color);
  }
  
  .ahref a {
    color: var(--link-color);
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: var(--link-hover-color);
  }
  
  .statusMessage {
    margin-top: 20px;
    font-size: 16px;
    color: var(--status-message-color);
    text-align: center;
  }
  